<div class="contact">
    <div class="fixed-mail">
        <a href="mailto:juanphrojas@outlook.com?subject=Asistencia" target="_blank"><i class="fa-regular fa-envelope"></i></i></a>
    </div>
    <div class="fixed-wp">
        <a href="https://wa.me/+573216715629" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>
</div>