<footer>
    <div class="principal">
        <div class="links">
            <h3>Enlaces de interes</h3>
            <ul> 
                <li><a href="">Acerca de nosotros</i></a></li>
                <li><a href="">Preguntas frecuentes</i></a></li>
                <li><a href="">Politicas de privacidad</i></a></li>
                <li><a href="">Teminos y condiciones</i></a></li>
            </ul>
        </div>
        <div class="text">
            <h3>GRACIAS POR VISITAR</h3> 
            <h1>G10!</h1>
            <h3>Paga seguro a travez de</h3>
            <img src="../images/Banner/pinpng.com-mercado-png-4241166.png"/>
        </div>
        <div class="social-media-menu">
            <h3>Sigenos en nuestras redes</h3>
            <ul> 
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="extra">
        <label id="extra">© 2021-2022</label> 
    </div>
</footer>