<footer>
    <div class="social-media-menu">
        <ul> 
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <div class="extra">
        <label id="extra">© 2021-2022</label> 
    </div>
</footer>