<header>
    <div class="mobile-menu">
        <div class="left-menu">
            <div class="burger-menu">
                <i class="fas fa-ellipsis-v"></i>
                <input type="checkbox">
                <ul> 
                    <li><a href="../">Ofertas</a></li>
                    <li><a href="../products/create">crear juego</a></li>
                    <li><a href="../">Lista</a></li>
                    <li><a href="../">Accesorios</a></li>
                    <li><a href="../">Conocenos</a></li>
                    <li><a href="../">Ayuda</a></li>
                </ul>
            </div>
            <div class="search">
                <i class="fas fa-search"></i>
                <input type="checkbox">
                <form class="search-bar" method="get" action="search">
                    <input type="text" name="search-text" placeholder="Buscar...">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="logo"> 
            <img class="img-logo" src="../images/logo/Logo.png" alt="G10-Games">
        </div>
        <div class="right-menu">
            <div class="shopping-cart">
                <a href="../products/productCart">
                    <i class="fas fa-shopping-cart"></i>
                    <h4>2</h4>
                </a>
            </div>
            <div class="account-menu">
                <i class="far fa-user"></i>
                <input type="checkbox">
                <ul> 
                    <li><a href="../users/login">Inciar sesión</a></li>
                    <li><a href="../users/register">Registrarse</a></li>
                    <li><a href="perfil">Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="desktop-menu">
        <div class="logo"> 
            <a class="link-logo" href="../"><img class="img-logo" src="../images/logo/Logo.png" alt="G10-Games"></a>
        </div>
        <div class="menus">
            <div class="menu">
                <ul> 
                    <li><a href="../products">Catalogo</a></li>
                    <li><a href="../">Ofertas</a></li>
                    <li><a href="../">Consolas</a></li>
                    <li><a href="../">Accesorios</a></li>
                    <li><a href="../">Consultas</a></li>
                    <li><a href="../">Conocenos</a></li>
                </ul>
            </div>
            <form class="search-bar" method="get" action="search">
                <input type="text" name="search-text" placeholder="Buscar...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <div class="menu-icons">
                <div class="shopping-cart">
                    <a href="../products/productCart">
                        <i class="fas fa-shopping-cart"></i>
                        <h4>2</h4>
                    </a>
                </div>
                <div class="account-menu">
                    <i class="far fa-user"></i>
                    <input type="checkbox">
                    <ul> 
                        <li><a href="../users/login">Inciar sesión</a></li>
                        <li><a href="../users/register">Registrarse</a></li>
                        <li><a href="perfil">Perfil</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>