<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="content">
                <div class="not-found-header">
                    <h1 class="not-found">404</h1>
                    <h2 class="not-found">Pagina no encontrada</h2>
                </div>
                <div class="not-found-message">
                    <p class="not-found">Contactanos si estas teniendo problemas.</p>
                    <a class="not-found" href="/">Volver a la pagina de inicio</a>
                </div>
            </div>
            <%- include('./partials/contacto') %>
                <%- include('./partials/footer') %>
    </body>

</html>