body{
    font-family: 'Roboto', sans-serif;;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header{
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #262626;
    margin: 0px;
    justify-content: center;
    z-index: 1;
}

header a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition-property: background-color;
	transition-duration: 0.5s;
    border-radius: 5px;
    margin: 5px;
}

header ul a:hover {
    background-color : #1d1d1d;
    cursor:pointer;
}

footer
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

footer ul
{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul li{
    font-size: 50px;
    padding: 15px;
}

footer ul li a{
    color: white;
}

.fixed-wp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    background-color: #1d1d1d91;
    border-radius: 100%;
}

.fixed-wp a i{
    font-size: 50px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content > div{
    width: 100%;
    max-width: 1800px;
}

h1{
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.detalle-compra-general{
    display: flex;
    padding: 15px 0px;
    justify-content: space-between;
}

.detalle-compra-general *{
    color: white;
}

.detalle-compra-general .product-quantity > input{
    color: black;
    text-align: center;
}

.detalle-compra-general .seccion-comprar{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-left: grey;
    border-left-style: solid;
    padding: 10px;
    width: 30%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.detalle-compra-general table{
    width: 70%;
}

.detalle-compra-general table td img{
    width: 60px;
}

.detalle-compra-general table td > *{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.detalle-compra-general .game{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.detalle-compra-general .game > *{
    margin: 5px;
}

.detalle-compra-general .game p{
    width: 150px;
}

.detalle-compra-general .product-quantity{
    display: flex;
}

.total-venta{
    display: flex;
}

.total-venta > *{
    margin:5px;
    padding:10px;
}

.seccion-comprar img{
    width: 200px;
    margin: 10px;
}

.basura button{
    background-color: #d95000;
    border-radius: 4px;
    height: 30px;
    border: 0px;
    
	transition-property: background-color;
    transition-duration: 0.5s;
}

.basura button:hover {
    background-color: #b34100;
    cursor:pointer;
}

form button{
    background-color: #0069d9;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    border: 0px;
    
	transition-property: background-color;
    transition-duration: 0.5s;
}

form button:hover {
    background-color: #3c91ff;
    cursor:pointer;
}

form input{
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.seccion-comprar a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #3ca123;
    border-radius: 4px;
    height: 15px;
    border: 0px;
    text-align: center;
    margin: 5px;
    
	transition-property: background-color color;
    transition-duration: 0.5s;
}

.seccion-comprar a:hover {
    background-color: white;
    color: #3ca123;
    cursor:pointer;
}

.suggested-games{

    border-top: solid 1px grey ;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.suggested-games ul{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.suggested-games ul li{
    box-shadow: 5px 5px 5px 3px black;
    position: relative;
    width: 270px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
}

.suggested-games ul li img{
    height: inherit;
    width: inherit;
}

.suggested-games ul li .game-description{
    position: absolute;
    background-color: #1d1d1dad;
    color: white;
    height: 60%;
    right: 0px;
    bottom: 0px;
    width: inherit;
    transform: translate(0%, 100%);
    transition: transform;
    transition-duration: .75s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.suggested-games ul li:hover .game-description{
    transform: translate(0%, 0%);
}

.suggested-games ul li .game-description .game-descrition-items{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.suggested-games ul li .game-description .game-descrition-items h2{
    text-align: center;
    font-size: medium;
}

.suggested-games ul li .game-description .deatil-buttons {
    display: flex;
    flex-direction: column;
}

.suggested-games ul li .game-description .deatil-buttons a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #0069d9;
    border-radius: 4px;
    height: 15px;
    border: 0px;
    text-align: center;
    margin: 5px;
    
	transition-property: background-color;
    transition-duration: 0.5s;
}

.suggested-games ul li .game-description .deatil-buttons a:hover {
    background-color: #3c91ff;
    color: #fff;
    cursor:pointer;
}

@media (max-width: 800px){
    .detalle-compra-general{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detalle-compra-general table{
        border-bottom: grey;
        border-bottom-style: solid;
        flex-wrap: wrap;
    }


    .detalle-compra-general .seccion-comprar{
        border-left: none;
    }

    .detalle-compra-general .seccion-comprar a{
        min-width: max-content;
    }
}

@media (max-width: 515px){

    .detalle-compra-general table .game > p{
        display: none;
    }
}

@media (max-width: 1024px){
    .fixed-wp{
        padding: 10px;
    }

    .fixed-wp a i{
        font-size: 30px;
    }

    

    .mobile-menu{
        padding: 10px 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .mobile-menu i{
        font-size: 25px;
    }

    .mobile-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .mobile-menu .burger-menu{
        position: relative;
    }

    .mobile-menu .burger-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;   
        top: 0;
        width: 10px;
        height: 25px;
        opacity: 0;
    }

    .mobile-menu .account-menu{
        position: relative;
    }
    
    .mobile-menu .account-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;   
        top: 0;
        width: 22px;
        height: 25px;
        opacity: 0;
    }

    .mobile-menu input:checked ~ ul {
        display: flex;
        flex-direction: column;
        font-size: 1em;
      }

    .mobile-menu .account-menu ul{
        transform: translate(-100%, 0);
        width: max-content;
    }

    .mobile-menu ul li{
        padding: 10px;
    }

    .desktop-menu{
        display: none;
    }

    .img-logo{
        width: 100px;
    }
}


@media (min-width: 1024px){

    .logo a{

    }

    .mobile-menu{
        display: none;
    }

    .desktop-menu{
        position: relative;
        display: flex;
        font-size: 1em;
        flex-direction: column;
        width: 100%;
        padding: 15px,15px,15px,0px;
        max-width: 1900px;
    }

    .desktop-menu .menu-icons{
        position: absolute;
        display: flex;
        font-size: 2em;
        flex-direction: row;
        right: 25%;
        top: 50%;
        transform: translate(25%, -50%);
        width: max-content;
    }

    .desktop-menu .menu-icons > *{
        margin:10px;
        padding: 10px;
    }

    .desktop-menu .menu-icons .account-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .desktop-menu .account-menu{
        position: relative;
        color: white;
    }
    
    .desktop-menu .account-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 10px;
        top: 12px;
        width: 28px;
        height: 32px;
        opacity: 0;
    }

    .desktop-menu .account-menu input:checked ~ ul {
        display: flex;
        flex-direction: column;
      }

    .desktop-menu .account-menu ul{
        font-size: large;
        transform: translate(-100%, 0);
        width: max-content;
    }

    .desktop-menu .account-menu ul li{
        padding: 10px;
    }

    .desktop-menu .logo{
        display: flex;
        color: white;
        font-size: 2em;
        align-items: center;
        justify-content: center;
    }

    .desktop-menu .logo img{
        width: 150px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menus .menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }

    .menus .search-bar{
        position: relative;
        height: 20px;
        min-width: 100px;
        margin: 10px;
    }

    .menus .search-bar input{
        height: 20px;
        width: inherit;
        min-width: 100px;
    }

    .menus .search-bar button{
        position: absolute;
        right: 0;
        top:0;
        height: 26px;
        width: 26px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .menus menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .menus menu ul li{
        padding: 5px;
        text-align: center;
    }
}