
*{
    color: white;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

header{
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #262626;
    margin: 0px;
    justify-content: center;
    z-index: 1;
}

header a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition-property: background-color;
	transition-duration: 0.5s;
    border-radius: 5px;
    margin: 5px;
}


/*saca las viñetas*/
ul {
    list-style-type: none;
    font-size:18px;
}
b{
    text-align: left
}

.caja-video{
    overflow:hidden;
    padding-bottom:400px;
    position:relative;
    height:0;
    max-width: 960px;
}
.caja-video *{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


@media (max-width: 900px){
    .slider{
        height: 200px;
    }
    .mobile-menu{
        padding: 10px 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .mobile-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .mobile-menu :hover ul{
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }

    .mobile-menu .account-menu ul{
        transform: translate(-100%, 0);
        width: max-content;
    }

    .mobile-menu ul li{
        padding: 10px;
    }

    .desktop-menu{
        display: none;
    }

    .img-logo{
        width: 100px;
    }
}


@media (min-width: 900px){
    .slider{
        height: 500px;
    }

    .mobile-menu{
        display: none;
    }

    .desktop-menu{
        display: flex;
        font-size: 1em;
        flex-direction: column;
        width: 100%;
        padding: 15px,15px,15px,0px;
        max-width: 1900px;
    }

    .desktop-menu .logo{
        display: flex;
        color: white;
        font-size: 2em;
        align-items: center;
        justify-content: center;
    }

    .desktop-menu .logo img{
        width: 150px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menus .menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }

    .menus ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .menus ul li{
        padding: 5px;
        
    }
}

.contenedor { 
    width: 100%;
    border: solid rgb(53, 53, 53) 5px;
    background-color: rgb(75, 73, 73);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.contenedor main{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*genera espacio entre las cajas*/
    flex-wrap: wrap; /*logramos que al achicar la pantalla, las cajas se pasen para la lina inferior*/
    
}

.caja-1{
    box-sizing: border-box;  
    color: black;
    background-color: #2c2c2c;
    box-shadow: 4px 5px 6px 8px #000000;  
    display: flex;
    flex-direction: row;
    max-width: 280px; /*La max-widthpropiedad define el ancho máximo de un elemento*/
    width: 500px;

}
   
.caja-2{
    box-sizing: border-box;  
    color: black;
    background-color: #2c2c2c;
    box-shadow: 4px 5px 6px 8px #000000; 
    margin: 0%;
    width: 100%;
    max-width: 1800px;
    margin-bottom: 2%;
     

}
.caja-3{
    box-sizing: border-box;  
    color: black;
    background-color: #2c2c2c;
    box-shadow: 4px 5px 6px 8px #000000;  
    margin: 1%;
    max-width: 280px;
    width: 500px;  
    width: 90%;
}

.button{
    border-radius: 50px;
    color:black;
    width:60%;
    height: 10%;
    background-color: rgb(59, 59, 59);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 1%;    
}

p{
    margin:4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14;
  
}
footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

footer ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul li{
    font-size: 50px;
    padding: 15px;
}

footer ul li a{
    color: white;
}
main{
    background-color: grey;
}
.fotos{
    display: flex;
    width: 99%;
    border: solid aqua 2px;
    padding: 5px;
    margin: 0%;
    box-sizing: border-box;
}
.foto1{
    margin-left: 1%;
    max-width: 10%;
}
.foto2{
    margin-left: 1%;
    max-width: 10%;
}
.foto3{
    margin-left: 1%;
    max-width: 10%;
}
.foto4{
    margin-left: 1%;
    max-width: 10%;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    max-width: 1900px;
}

.slider{
    margin-top: 0px;
    position: relative;
    padding: 0px;
    width: inherit;
}

.slider li{
    width: inherit;
    height: inherit;
    position: absolute;
    padding: 0px;
    opacity: 0;
    transition: opacity .5s;
}

.slider li:first-child{
    opacity: 1;
}

.slider li:target{
    opacity: 1;
}

.slider li img{
    width: 100%;
    height: inherit;
}

.slider-menu{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.slider-menu li a{
    color: #1d1d1d;
}

.slider-menu li a:target{
    color: #c4c4c4;

}

.slider-menu li{
   margin: 0px 5px;
   padding: 0px 10px;

}
.caja-video{
    background-color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.video {
    margin: 2%;
}

.fixed-wp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    background-color: #1d1d1d91;
    border-radius: 100%;
}

.fixed-wp a i{
    font-size: 50px;
    color: white;
}

@media (max-width: 1024px){
    .fixed-wp{
        padding: 10px;
    }

    .fixed-wp a i{
        font-size: 30px;
    }
    
    .slider{
        height: 200px;
    }
}
.caja3-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}
h2{
    text-align: center;
}
h3{   
    font-weight: bold;
    font-size:20px;
}
@media (max-width: 1024px){
    .fixed-wp{
        padding: 10px;
    }

    .fixed-wp a i{
        font-size: 30px;
    }
    
    .slider{
        height: 200px;
    }

    .mobile-menu{
        padding: 10px 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: white;
    }

    .logo a{
        margin: 5px 0px;
        padding: 10px 0px;
    }

    .search-bar button i{
        font-size: 15px;
    }

    .mobile-menu i{
        font-size: 25px;
    }

    .mobile-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .left-menu {
        position: relative;
        display: flex;
    }

    .left-menu > *{
        margin:3px;
        padding: 10px;
    }

    .left-menu .search-bar{
        position: absolute;
        display: none;
        height: 20px;
        min-width: 100px;
        margin: 10px;
    }

    .left-menu .search-bar input{
        height: 20px;
        width: inherit;
        min-width: 100px;
    }

    .left-menu .search-bar button{
        position: absolute;
        right: 0;
        top:0;
        height: 21px;
        width: 21px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .mobile-menu .burger-menu{
        position: relative;
    }

    .mobile-menu .left-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;   
        top: 0;
        width: 10px;
        height: 25px;
        opacity: 0;
    }

    .mobile-menu .right-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .mobile-menu .right-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .mobile-menu .right-menu > *{
        margin:2px;
        padding: 2px;
    }

    .mobile-menu .right-menu .account-menu{
        position: relative;
    }

    .mobile-menu .right-menu .shopping-cart a h4{
        position: absolute;
        font-size: medium;
        right: -5px;
        top: -25px;
        border-radius: 100%;
        background-color: rgb(161, 0, 0);
        width: 25px;
        height: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu .right-menu .shopping-cart a{
        position: relative;
    }
    
    .mobile-menu .right-menu .account-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;   
        top: 0;
        width: 22px;
        height: 25px;
        opacity: 0;
    }

    .mobile-menu input:checked ~ ul {
        display: flex;
        flex-direction: column;
        font-size: 1em;
      }

      .mobile-menu input:checked ~ form {
        display: flex;
        flex-direction: column;
      }

    .mobile-menu .right-menu .account-menu ul{
        transform: translate(-100%, 0);
        width: max-content;
    }

    .mobile-menu ul li{
        padding: 10px;
    }

    .desktop-menu{
        display: none;
    }

    .img-logo{
        width: 100px;
    }

    .mobile-menu .left-menu .burger-menu input[type="checkbox"] {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 9px;
        top: 9px;
        width: 10px;
        height: 28px;
        opacity: 0;
    }

    .mobile-menu .left-menu .search input[type="checkbox"] {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 13px;
        top: 13px;
        width: 25px;
        height: 25px;
        opacity: 0;
    }
}

@media (min-width: 1024px){


    .slider{
        height: 500px;
    }

    .mobile-menu{
        display: none;
    }

    .desktop-menu{
        position: relative;
        display: flex;
        font-size: 1em;
        flex-direction: column;
        width: 100%;
        padding: 15px,15px,15px,0px;
        max-width: 1900px;
    }

    .desktop-menu .menu-icons{
        position: absolute;
        display: flex;
        font-size: 2em;
        flex-direction: row;
        right: 0;
        top: 0;
        transform: translate(-25%, 9%);
        width: max-content;
    }

    .desktop-menu .menu-icons > *{
        margin:10px;
        padding: 10px;
    }

    .desktop-menu .menu-icons .shopping-cart a h4{
        position: absolute;
        font-size: medium;
        right: -5px;
        top: -25px;
        border-radius: 100%;
        background-color: rgb(161, 0, 0);
        width: 25px;
        height: 25px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktop-menu .menu-icons .shopping-cart a{
        position: relative;
    }

    .desktop-menu .menu-icons .account-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .desktop-menu .account-menu{
        position: relative;
        color: white;
    }
    
    .desktop-menu .account-menu input[type="checkbox"]{
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 10px;
        top: 12px;
        width: 28px;
        height: 32px;
        opacity: 0;
    }

    .desktop-menu .account-menu input:checked ~ ul {
        display: flex;
        flex-direction: column;
      }

    .desktop-menu .account-menu ul{
        font-size: large;
        transform: translate(-100%, 0);
        width: max-content;
    }

    .desktop-menu .account-menu ul li{
        padding: 10px;
    }

    .desktop-menu .logo{
        display: flex;
        color: white;
        font-size: 2em;
        align-items: center;
        justify-content: center;
    }

    .desktop-menu .logo img{
        width: 150px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menus .menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }

    .menus .search-bar{
        position: relative;
        height: 20px;
        min-width: 100px;
        margin: 10px;
    }

    .menus .search-bar input{
        height: 20px;
        width: inherit;
        min-width: 100px;
    }

    .menus .search-bar button{
        position: absolute;
        right: 0;
        top:0;
        height: 26px;
        width: 26px;
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }

    .menus menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .menus menu ul li{
        padding: 5px;
        text-align: center;
    }
}

