body{
    font-family: 'Roboto', sans-serif;;
    background-color: #2c2c2c !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-content{
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

p{
    width: 100%;
    text-align : center;
}

div{
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

input{
        margin-top: 10px;
        padding: 10px;
        height: 20px;
        border-radius: 3px;
        border: 0px;
        width: 400px;
        height: 20px;
    }


    input:focus{
        box-shadow: 0px 0px 5px 3px #0069d9;
        border:none;
        outline: none;
    }

.btn-submit{
        color: white;
        background-color: #0069d9;
        border: 1;
        border-radius: 4px;
        height: 30px;
        border-radius: 3px;
        border: 0px;

        transition-property: background-color;
	    transition-duration: 0.5s;
    }

.btn-submit:hover {
        background-color: #3c91ff;
        color: #fff;
        cursor:pointer;
    }

    a{
        text-decoration: none;
        color: #0069d9;
    
        transition-property: color;
        transition-duration: 0.5s;
    }
    
    a:hover {
        color: #3c91ff;
        cursor:pointer;
    }

.field{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

i input{
    margin: 10px;
}

.field{
    position: relative;
}

.field i{
    color: #626262;
    position: absolute;
    right: 10px;
    bottom: 12px;
}

ul {
    list-style-type: none;
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

footer ul li{
    margin: 10px;
    padding: 10px;
    font-size: 2em;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.login label{
    padding-right: 5px;
}

.login a{
    padding-left: 5px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

@media (max-width: 500px){
   p{
       font-size: larger;
   }

    form{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .login{
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1{
        font-size: x-large;
    }    

    .img-logo{
        width: 100px;
    }

    input{
        width: 200px;
    }
}
