*{
    color: white;
    font-family: 'Fredoka One', cursive;
}
body{
    color: white;
    
    background-color: #2c2c2c !important;
    margin-top: 2%;    
}
div{
    margin-top: 2%;
}
h4{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.products {
    
    text-align: center;
    display: flex;
    flex-wrap: wrap
}

h3{
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: aqua;
}
.logo{
    display: flex;
    width: 350px;
    
}
p{
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
}
ul{
    font-size: 18px;
    
}
label{
    font-size: 20px;
    
    margin-left: 2%;
}
span {
    margin-left: 15%;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: aqua;
}


. {
    box-shadow: rgb(100 100 100);
    box-sizing: border-box;
}