body {
  font-family: 'Roboto', sans-serif;
  background-color: #2c2c2c;
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: white;
}

body * {
  font-family: 'Roboto', sans-serif;
}

body .not-found {
 font-size: xx-large;
 text-align: center;
}

body .not-found-header h1{
  font-size: 100px
}

body .not-found .not-found-header, .not-found-message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 45px;
 }

 body .not-found-message a:visited{
  color: white;
 }

header {
  padding-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: #262626;
  margin: 0px;
  justify-content: center;
  z-index: 1;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  max-width: 1900px;
  margin: 20px;
}

.scondary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  max-width: 1900px;
}

.slider {
  margin-top: 0px;
  position: relative;
  padding: 0px;
  width: inherit;
}

.slider li {
  width: inherit;
  height: inherit;
  position: absolute;
  padding: 0px;
  opacity: 0;
  transition: opacity .5s;
}

.slider li:first-child {
  opacity: 1;
}

.slider li:target {
  opacity: 1;
}

.slider li img {
  width: 100%;
  height: inherit;
}

.slider-menu {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.slider-menu li a {
  color: #1d1d1d;
}

.slider-menu li a:target {
  color: #c4c4c4;

}

.slider-menu li {
  margin: 0px 5px;
  padding: 0px 10px;

}

header a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 5px;
  margin: 5px;
}

header a:hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

footer {
  background-color: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

footer .principal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  max-width: 1900px;
}

footer .text {
  display: flex;
  flex-direction: column;
  justify-content: c;
  align-items: center;
}

footer .principal div {
  margin: 10px;
  padding: 5px;
  max-width: 250px;
}

footer .principal .text img {
  width: 250px;
}

footer .social-media-menu ul {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer .social-media-menu ul li {
  font-size: 50px;
  padding: 15px;
}


footer .links h3 {
  text-align: center;
}

footer .links ul {
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

footer .links ul li {
  font-size: 1.1em;
  padding: 15px;
}

footer .links ul li a :hover {
  background-color: #1d1d1d;
  cursor: pointer;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

.contact {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 10;
}

.contact .fixed-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d91;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
}

.contact .fixed-wp {
  background-color: #1d1d1d91;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 100%;
  margin: 10px;
  text-align: center;
}

.contact a i {
  font-size: 50px;
  color: white;
}

/* INDEX */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games .games-list {
  padding: 0px;
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.games .games-list li {
  box-shadow: 5px 5px 5px 3px black;
  position: relative;
  width: 270px;
  height: 400px;
  margin: 20px;
  overflow: hidden;

}

.games .games-list li img {
  height: inherit;
  width: inherit;
}

.games .games-list li .game-description {
  position: absolute;
  background-color: #1d1d1dad;
  color: white;
  height: 80%;
  right: 0px;
  bottom: 0px;
  width: inherit;
  transform: translate(0%, 100%);
  transition: transform;
  transition-duration: .75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.games .games-list li:hover .game-description {
  transform: translate(0%, 0%);
}

.games .games-list li .game-description .game-descrition-items {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.games .games-list li .game-description .game-descrition-items h2 {
  text-align: center;
  font-size: medium;
}

.games .games-list li .game-description .deatil-buttons {
  display: flex;
  flex-direction: column;
}

.games .games-list li .game-description .deatil-buttons i {
  margin: 5px;
}

.games .games-list li .game-description .deatil-buttons a {
  font-size: large;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #0069d9;
  border-radius: 4px;
  height: 15px;
  border: 0px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.games .games-list li .game-description .deatil-buttons button {
  font-size: large;
  text-decoration: none;
  padding: 20px;
  color: white;
  background-color: #d95000;
  border-radius: 4px;
  height: 15px;
  border: 0px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.games .games-list li .game-description .deatil-buttons a:hover {
  background-color: #3c91ff;
  color: #fff;
  cursor: pointer;
}

.games .games-list li .game-description .deatil-buttons button:hover {
  background-color: #b34100;
  color: #fff;
  cursor: pointer;
}


/* LOGIN */

.login-content {
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content>* {
  margin: 20px;
}

.login-content a {
  text-decoration: none;
  color: #0069d9;

  transition-property: color;
  transition-duration: 0.5s;
}

.login-content a:hover {
  color: #3c91ff;
  cursor: pointer;
}

.login-content #email {
  width: 400px;
}

.login-content .email {
  position: relative;
}

.login-content .email i {
  color: #626262;
  position: absolute;
  right: 10px;
  top: 22px;
}

.login-content .email .errors {
  position: absolute;
  top: 45px;
  color: rgb(160, 82, 82);
  width: 100%;
  text-align: center;
  font-size: medium;
}

.login-content #password {
  width: 400px;
}

.login-content .password {
  position: relative;
}

.login-content .password i {
  color: #626262;
  position: absolute;
  right: 10px;
  top: 22px;
}
.login-content .password .errors {
  position: absolute;
  top: 45px;
  color: rgb(160, 82, 82);
  width: 100%;
  text-align: center;
  font-size: medium;
}

.login-content .register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-content .register label {
  padding-right: 5px;
}

.login-content .register a {
  padding-left: 5px;
}

.login-content input {
  margin-top: 10px;
  padding: 10px;
  height: 20px;
  border-radius: 3px;
  border: 0px;
}

.login-content .input-error {
  box-shadow: 0px 0px 5px 3px #dd3b00;
  border: none;
  outline: none;
}

.login-content .input-succes {
  box-shadow: 0px 0px 5px 3px #0fb700;
  border: none;
  outline: none;
}

.register-content .input-error {
  box-shadow: 0px 0px 5px 3px #dd3b00;
  border: none;
  outline: none;
}

.register-content .input-succes {
  box-shadow: 0px 0px 5px 3px #0fb700;
  border: none;
  outline: none;
}

.login-content input:focus {
  border: none;
  outline: none;
}


.login-content input[type="checkbox"]:checked {
  box-shadow: 0px 0px 5px 3px #0069d9;
  border: none;
  outline: none;
}

.login-content .check-remember {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login-content .check-remember>* {
  margin: 5px;
  padding: 0px;
}

.login-content .check-remember .check {
  margin: 5px;
  padding: 0px;
  width: 20px;
  height: 20px;
}

.login-content .btn-submit {
  color: white;
  background-color: #0069d9;
  border: 1;
  border-radius: 4px;
  height: 30px;
  border-radius: 3px;
  border: 0px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.login-content .btn-submit:hover {
  background-color: #3c91ff;
  color: #fff;
  cursor: pointer;
}

.login-content .radio {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.login-content .check {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* REGISTRO */

.register-content {
  margin: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-content>* {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.register-content p {
  width: 100%;
  text-align: center;
}

.register-content .errors {
  position: absolute;
  bottom: -40px;
  color: rgb(160, 82, 82);
}

.register-content .register-error, .login-content .credentials-error {
  text-align: center;
  color: rgb(160, 82, 82);
}

.register-content input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 0px;
  width: 380px;
  height: 20px;
}

.register-content .field-row input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 10px;
}

.register-content input:focus {
  border: none;
  outline: none;
}

.register-content .field label {
  text-align: left;
}

.register-content select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 0px;
  width: 400px;
  height: 40px;
}

.register-content select:focus {
  border: none;
  outline: none;
}

.register-content .btn-submit {
  color: white;
  background-color: #0069d9;
  border: 1;
  border-radius: 4px;
  height: 30px;
  border-radius: 3px;
  border: 0px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.register-content .btn-submit:hover {
  background-color: #3c91ff;
  color: #fff;
  cursor: pointer;
}

.register-content a {
  text-decoration: none;
  color: #0069d9;

  transition-property: color;
  transition-duration: 0.5s;
}

.register-content a:hover {
  color: #3c91ff;
  cursor: pointer;
}

.register-content .field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.register-content i input {
  margin: 10px;
}

.register-content .field {
  position: relative;
}

.register-content .field i {
  color: #626262;
  position: absolute;
  right: 10px;
  top: 22px;
}

.register-content .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.register-content .login label {
  padding-right: 5px;
}

.register-content .login a {
  padding-left: 5px;
}

.register-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.register-content form .fields {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.register-content form .fields .field {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 15px;
  align-items: flex-start;
}

.register-content form .fields .field-row {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin: 15px;
  align-items: center;
  justify-content: center;
}

.register-content form .fields .field-area {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.register-content form .fields .field-area textarea {
  height: 200px;
  width: 60%;
  resize: none;
  overflow: scroll;
  padding: 10px;
  border-radius: 3px;
  border: 0px;
}

.register-content form .fields .field-area textarea:focus {
  box-shadow: 0px 0px 5px 3px #0069d9;
  border: none;
  outline: none;
}

.register-content form .fields .image-preview img {
  height: 400px;
  margin: 10px;
  width: 270px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.register-content form .fields .image-preview {
  height: 450px;
  width: 300px;
  position: relative;
  z-index: 1;
}

.register-content form .fields .field-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-content form .fields .image-preview input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 270px;
  height: 400px;
  padding: 0px;
  margin: 10px;
  z-index: 3;
  opacity: 0;
}

.register-content form .fields .image-preview input:hover {
  cursor: pointer;
}

.register-content form .fields .image-preview .select-image {
  display: flex;
  height: 400px;
  margin: 10px;
  width: 270px;
  position: absolute;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

.register-content form .fields .image-preview .select-image i {
  height: 80px;
  font-size: 80px;
}

.register-content form .fields .image-preview .galleryDetails {
  position: absolute;
  font-size: 1em;
  z-index: 2;
  height: 400px;
  margin: 10px;
  width: 270px;
  top: 0px;
  left: 0px;
  background-color: #262626;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-content form .fields .image-preview ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 0px;
}

.register-content form .fields .image-preview ul li {
  margin: 10px;
}

.register-content form>* {
  margin: 10px;
}

/* CARRITO DE COMPRAS */
.content-carrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-carrito>div {
  width: 100%;
  max-width: 1800px;
}

.content-carrito h1 {
  color: white;
}

.content-carrito ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.content-carrito .detalle-compra-general {
  display: flex;
  padding: 15px 0px;
  justify-content: space-between;
}

.content-carrito .detalle-compra-general * {
  color: white;
}

.content-carrito .detalle-compra-general .product-quantity>input {
  color: black;
  text-align: center;
}

.content-carrito .detalle-compra-general .seccion-comprar {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-left: grey;
  border-left-style: solid;
  padding: 10px;
  width: 30%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.content-carrito .detalle-compra-general table {
  width: 70%;
}

.content-carrito .detalle-compra-general table td img {
  width: 60px;
}

.content-carrito .detalle-compra-general table td>* {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.content-carrito .detalle-compra-general .game {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-carrito .detalle-compra-general .game>* {
  margin: 5px;
}

.content-carrito .detalle-compra-general .game p {
  width: 150px;
}

.content-carrito .detalle-compra-general .product-quantity {
  display: flex;
}

.content-carrito .total-venta {
  display: flex;
}

.content-carrito .total-venta>* {
  margin: 5px;
  padding: 10px;
}

.content-carrito .seccion-comprar img {
  width: 200px;
  margin: 10px;
}

.content-carrito .basura button {
  background-color: #d95000;
  border-radius: 4px;
  height: 30px;
  border: 0px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.content-carrito .basura button:hover {
  background-color: #b34100;
  cursor: pointer;
}

.content-carrito form button {
  background-color: #0069d9;
  border-radius: 4px;
  height: 25px;
  width: 25px;
  border: 0px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.content-carrito form button:hover {
  background-color: #3c91ff;
  cursor: pointer;
}

.content-carrito form input {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 4px;
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content-carrito .seccion-comprar a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #3ca123;
  border-radius: 4px;
  height: 15px;
  border: 0px;
  text-align: center;
  margin: 5px;

  transition-property: background-color color;
  transition-duration: 0.5s;
}

.content-carrito .seccion-comprar a:hover {
  background-color: white;
  color: #3ca123;
  cursor: pointer;
}

.content-carrito .suggested-games {

  border-top: solid 1px grey;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.content-carrito .suggested-games ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-carrito .suggested-games ul li {
  box-shadow: 5px 5px 5px 3px black;
  position: relative;
  width: 270px;
  height: 400px;
  margin: 20px;
  overflow: hidden;
}

.content-carrito .suggested-games ul li img {
  height: inherit;
  width: inherit;
}

.content-carrito .suggested-games ul li .game-description {
  position: absolute;
  background-color: #1d1d1dad;
  color: white;
  height: 60%;
  right: 0px;
  bottom: 0px;
  width: inherit;
  transform: translate(0%, 100%);
  transition: transform;
  transition-duration: .75s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-carrito .suggested-games ul li:hover .game-description {
  transform: translate(0%, 0%);
}

.content-carrito .suggested-games ul li .game-description .game-descrition-items {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.content-carrito .suggested-games ul li .game-description .game-descrition-items h2 {
  text-align: center;
  font-size: medium;
}

.content-carrito .suggested-games ul li .game-description .deatil-buttons {
  display: flex;
  flex-direction: column;
}

.content-carrito .suggested-games ul li .game-description .deatil-buttons a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #0069d9;
  border-radius: 4px;
  height: 15px;
  border: 0px;
  text-align: center;
  margin: 5px;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.content-carrito .suggested-games ul li .game-description .deatil-buttons a:hover {
  background-color: #3c91ff;
  color: #fff;
  cursor: pointer;
}

.content-carrito .games-list {
  height: inherit;
  width: inherit;
}

/* LISTADO DE PRODUCTOS */
.product-list-options {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1800px;
}

.product-list-options i {
  margin: 5px;
}

.product-list-options a {
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #0069d9;
  border-radius: 4px;
  height: 15px;
  border: 0px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.product-list-options a:hover {
  background-color: #3c91ff;
  color: #fff;
  cursor: pointer;
}

/* DETALLE DE PRODUCTO */


.contenedor-detalle .caja-video {
  overflow: hidden;
  padding-bottom: 400px;
  position: relative;
  height: 0;
  max-width: 960px;
}

.contenedor-detalle .caja-video * {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contenedor-detalle {
  width: 100%;
  border: solid rgb(53, 53, 53) 5px;
  background-color: rgb(75, 73, 73);
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.contenedor-detalle * {
  color: white;
  align-items: center;

}

.contenedor-detalle main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /*genera espacio entre las cajas*/
  flex-wrap: wrap;
  width: 100%;
  /*logramos que al achicar la pantalla, las cajas se pasen para la lina inferior*/

}

.contenedor-detalle .caja-1 {
  box-sizing: border-box;
  color: black;
  background-color: #2c2c2c;
  box-shadow: 4px 5px 6px 8px #000000;
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 400px;
  align-items: center;
}

.contenedor-detalle .caja-1 img{
  width: inherit;
  height: inherit;
}

.contenedor-detalle .caja-2 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  background-color: #2c2c2c;
  box-shadow: 4px 5px 6px 8px #000000;
  margin: 0%;
  width: 100%;
  max-width: 1300px;
  margin-bottom: 2%;


}

.contenedor-detalle .caja-3 {
  box-sizing: border-box;
  color: black;
  background-color: #2c2c2c;
  box-shadow: 4px 5px 6px 8px #000000;
  margin: 1%;
  max-width: 280px;
  width: 500px;
  width: 90%;
}

.contenedor-detalle .button {
  border-radius: 50px;
  color: black;
  width: 60%;
  height: 10%;
  background-color: rgb(59, 59, 59);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-bottom: 1%;
}

.contenedor-detalle p {
  margin: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14;

}

.contenedor-detalle main {
  background-color: grey;
}

.contenedor-detalle .fotos {
  display: flex;
  width: 99%;
  border: solid aqua 2px;
  padding: 5px;
  margin: 0%;
  box-sizing: border-box;
}

.contenedor-detalle .foto1 {
  margin-left: 1%;
  max-width: 10%;
}

.contenedor-detalle .foto2 {
  margin-left: 1%;
  max-width: 10%;
}

.contenedor-detalle .foto3 {
  margin-left: 1%;
  max-width: 10%;
}

.contenedor-detalle .foto4 {
  margin-left: 1%;
  max-width: 10%;
}

.contenedor-detalle .slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0px;
  max-width: 1300px;
  margin: 20pxslider-container;
}

.contenedor-detalle .slider {
  margin-top: 0px;
  position: relative;
  padding: 0px;
  width: inherit;
}

.contenedor-detalle .slider li {
  width: inherit;
  height: inherit;
  position: absolute;
  padding: 0px;
  opacity: 0;
  transition: opacity .5s;
}

.contenedor-detalle .slider li:first-child {
  opacity: 1;
}

.contenedor-detalle .slider li:target {
  opacity: 1;
}

.contenedor-detalle .slider li img {
  width: 100%;
  height: inherit;
}

.contenedor-detalle .slider-menu {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.contenedor-detalle .slider-menu li a {
  color: #1d1d1d;
}

.contenedor-detalle .slider-menu li a:target {
  color: #c4c4c4;

}

.contenedor-detalle .slider-menu li {
  margin: 0px 5px;
  padding: 0px 10px;

}

.contenedor-detalle .caja-video {
  background-color: rgb(78, 78, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contenedor-detalle .video {
  margin: 2%;
}

.contenedor-detalle .caja3-boton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: flex-end;
}

.contenedor-detalle h2 {
  text-align: center;
}

.contenedor-detalle h3 {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 515px) {

  /* LOGIN */
  .login-content div {
    margin: 10px;
  }

  .login-content .register {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-content .password .errors {
    top: 40px;
    font-size: small;
  }
  .login-content .email .errors {
    top: 40px;
    font-size: small;
  }

  .login-content .img-logo {
    width: 100px;
  }

  .login-content #email {
    width: 200px;
  }

  .login-content #password {
    width: 200px;
  }

  /* REGISTRO */
  .register-content p {
    font-size: larger;
  }

  /* REGISTRO */
  .register-content .errors {
    font-size: small;
  }

  .register-content form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .register-content .login {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register-content h1 {
    font-size: x-large;
  }

  .register-content .img-logo {
    width: 100px;
  }

  .register-content form .fields .field {

    width: 220px;
  }

  .register-content input {
    width: 200px;
  }

  .register-content select {
    width: 220px;
  }

  /* CARRITO DE COMPRAS */
  .detalle-compra-general table .game>p {
    display: none;
  }
}

@media (max-width: 800px) {

  /* CARRITO DE COMPRAS */
  .detalle-compra-general {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detalle-compra-general table {
    border-bottom: grey;
    border-bottom-style: solid;
    flex-wrap: wrap;
  }

  .detalle-compra-general .seccion-comprar {
    border-left: none;
  }

  .detalle-compra-general .seccion-comprar a {
    min-width: max-content;
  }

  footer .principal {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .contact a i {
    font-size: 30px;
  }

  .slider {
    height: 200px;
  }

  .mobile-menu {
    padding: 10px 15px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .search-bar button i {
    font-size: 15px;
  }

  .mobile-menu i {
    font-size: 25px;
  }

  .mobile-menu ul {
    margin: 5px;
    padding: 5px;
    background-color: #1d1d1d91;
    display: none;
    position: absolute;
    transition-duration: 0.5s;
    border-radius: 5px;
  }

  .left-menu {
    position: relative;
    display: flex;
  }

  .left-menu>* {
    margin: 3px;
    padding: 10px;
  }

  .left-menu .search-bar {
    position: absolute;
    display: none;
    height: 20px;
    min-width: 100px;
    margin: 10px;
  }

  .left-menu .search-bar input {
    height: 20px;
    width: inherit;
    min-width: 100px;
  }

  .left-menu .search-bar button {
    position: absolute;
    right: 0;
    top: 0;
    height: 21px;
    width: 21px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .mobile-menu .burger-menu {
    position: relative;
  }

  .mobile-menu .left-menu input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 10px;
    height: 25px;
    opacity: 0;
  }

  .mobile-menu .right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .mobile-menu .right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }

  .mobile-menu .right-menu>* {
    margin: 2px;
    padding: 2px;
  }

  .mobile-menu .right-menu .account-menu {
    position: relative;
  }

  .mobile-menu .right-menu .shopping-cart a h4 {
    position: absolute;
    font-size: medium;
    right: -5px;
    top: -25px;
    border-radius: 100%;
    background-color: rgb(161, 0, 0);
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .right-menu .shopping-cart a {
    position: relative;
  }

  .mobile-menu .right-menu .account-menu input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 22px;
    height: 25px;
    opacity: 0;
  }

  .mobile-menu input:checked~ul {
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  .mobile-menu input:checked~form {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu .right-menu .account-menu ul {
    transform: translate(-100%, 0);
    width: max-content;
  }

  .mobile-menu ul li {
    padding: 10px;
  }

  .desktop-menu {
    display: none;
  }

  .img-logo {
    width: 100px;
  }

  .mobile-menu .left-menu .burger-menu input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 9px;
    top: 9px;
    width: 10px;
    height: 28px;
    opacity: 0;
  }

  .mobile-menu .left-menu .search input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 13px;
    top: 13px;
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}

@media (min-width: 1024px) {


  .slider {
    height: 500px;
  }

  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    position: relative;
    display: flex;
    font-size: 1em;
    flex-direction: column;
    width: 100%;
    padding: 15px, 15px, 15px, 0px;
    max-width: 1900px;
  }

  .desktop-menu .menu-icons {
    position: absolute;
    display: flex;
    font-size: 2em;
    flex-direction: row;
    right: 150px;
    top: 30px;
    transform: translate(25%, -50%);
    width: max-content;
  }

  .logged-user{
    font-size: x-large;
  }

  .desktop-menu .menu-icons>* {
    margin: 10px;
    padding: 10px;
  }

  .desktop-menu .menu-icons .shopping-cart a h4 {
    position: absolute;
    font-size: medium;
    right: -5px;
    top: -25px;
    border-radius: 100%;
    background-color: rgb(161, 0, 0);
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desktop-menu .menu-icons .shopping-cart a {
    position: relative;
  }

  .desktop-menu .menu-icons .account-menu ul {
    margin: 5px;
    padding: 5px;
    background-color: #1d1d1d91;
    display: none;
    position: absolute;
    transition-duration: 0.5s;
    border-radius: 5px;
  }

  .desktop-menu .account-menu {
    position: relative;
    color: white;
  }

  .desktop-menu .account-menu input[type="checkbox"]:hover {
    cursor: pointer;
  }

  .desktop-menu .account-menu input[type="checkbox"] {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 10px;
    top: 12px;
    width: 28px;
    height: 32px;
    opacity: 0;
  }

  .desktop-menu .account-menu input:checked~ul {
    display: flex;
    flex-direction: column;
  }

  .desktop-menu .account-menu ul {
    font-size: large;
    transform: translate(-100%, 0);
    width: max-content;
  }

  .desktop-menu .account-menu ul li {
    padding: 10px;
  }

  .desktop-menu .logo {
    display: flex;
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
  }

  .desktop-menu .logo img {
    width: 150px;
  }

  .menus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .menus .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
  }

  .menus .search-bar {
    position: relative;
    height: 20px;
    min-width: 100px;
    margin: 10px;
  }

  .menus .search-bar input {
    height: 20px;
    width: inherit;
    min-width: 100px;
  }

  .menus .search-bar button {
    position: absolute;
    right: 0;
    top: 0;
    height: 26px;
    width: 26px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .menus menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .menus menu ul li {
    padding: 5px;
    text-align: center;
  }
}