body{
    font-family: 'Roboto', sans-serif;;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header{
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background: #262626;
    margin: 0px;
    justify-content: center;
    z-index: 1;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    max-width: 1900px;
}

.slider{
    margin-top: 0px;
    position: relative;
    padding: 0px;
    width: inherit;
}

.slider li{
    width: inherit;
    height: inherit;
    position: absolute;
    padding: 0px;
    opacity: 0;
    transition: opacity .5s;
}

.slider li:first-child{
    opacity: 1;
}

.slider li:target{
    opacity: 1;
}

.slider li img{
    width: 100%;
    height: inherit;
}

.slider-menu{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.slider-menu li a{
    color: #1d1d1d;
}

.slider-menu li a:target{
    color: #c4c4c4;

}

.slider-menu li{
   margin: 0px 5px;
   padding: 0px 10px;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    transition-property: background-color;
	transition-duration: 0.5s;
    border-radius: 5px;
    margin: 5px;
}

header a:hover {
    background-color : #1d1d1d;
    cursor:pointer;
}


ul {
    list-style-type: none;
}

.games{
    width: 100%;
    max-width: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games .games-list{
    padding: 0px;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.games .games-list li{
    box-shadow: 5px 5px 5px 3px black;
    position: relative;
    width: 270px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    
}
 #slide1{
     opacity: 0.5;
 }

.games .games-list li img{
    height: inherit;
    width: inherit;
}

.games .games-list li .game-description{
    position: absolute;
    background-color: #1d1d1dad;
    color: white;
    height: 60%;
    right: 0px;
    bottom: 0px;
    width: inherit;
    transform: translate(0%, 100%);
    transition: transform;
    transition-duration: .75s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.games .games-list li:hover .game-description{
    transform: translate(0%, 0%);
}

.games .games-list li .game-description .game-descrition-items{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.games .games-list li .game-description .game-descrition-items h2{
    text-align: center;
    font-size: medium;
}

.games .games-list li .game-description .deatil-buttons {
    display: flex;
    flex-direction: column;
}

.games .games-list li .game-description .deatil-buttons a{
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #0069d9;
    border-radius: 4px;
    height: 15px;
    border: 0px;
    text-align: center;
    margin: 5px;
    
	transition-property: background-color;
    transition-duration: 0.5s;
}

.games .games-list li .game-description .deatil-buttons a:hover {
    background-color: #3c91ff;
    color: #fff;
    cursor:pointer;
}

footer
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

footer ul
{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul li{
    font-size: 50px;
    padding: 15px;
}

footer ul li a{
    color: white;
}

.fixed-wp {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    background-color: #1d1d1d91;
    border-radius: 100%;
}

.fixed-wp a i{
    font-size: 50px;
    color: white;
}

@media (max-width: 1024px){
    .fixed-wp{
        padding: 10px;
    }

    .fixed-wp a i{
        font-size: 30px;
    }
    
    .slider{
        height: 200px;
    }
    .mobile-menu{
        padding: 10px 25px;
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-menu i{
        font-size: 25px;
    }

    .mobile-menu ul{
        margin: 5px;
        padding: 5px;
        background-color: #1d1d1d91;
        display: none;
        position: absolute;
        transition-duration: 0.5s;
        border-radius: 5px;
    }

    .mobile-menu :hover ul{
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }

    .mobile-menu .account-menu ul{
        transform: translate(-100%, 0);
        width: max-content;
    }

    .mobile-menu ul li{
        padding: 10px;
    }

    .desktop-menu{
        display: none;
    }

    .img-logo{
        width: 100px;
    }
}


@media (min-width: 1024px){


    .slider{
        height: 500px;
    }

    .mobile-menu{
        display: none;
    }

    .desktop-menu{
        display: flex;
        font-size: 1em;
        flex-direction: column;
        width: 100%;
        padding: 15px,15px,15px,0px;
        max-width: 1900px;
    }

    .desktop-menu .logo{
        display: flex;
        color: white;
        font-size: 2em;
        align-items: center;
        justify-content: center;
    }

    .desktop-menu .logo img{
        width: 150px;
    }

    .menus{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menus .menu ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }

    .menus ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .menus ul li{
        padding: 5px;
        text-align: center;
    }
}
