*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: white;
    background-color:rgb(58, 58, 58)
}



h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    
}