<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
         <div class="register-content"> 
                <div class="logo"> 
                    <a href="/"><img class="img-logo" src="../images/logo/Logo.png" alt="G10-Games"></a>
                </div>
                <h1 class="titulo">
                    ¿Eres nuevo en G10-Games?
                </h1>
                <p>
                    Registrate y accede a nuestro E-Commerce!
                </p>                
                <div>
                    <form method="post">
                        <div class="fields">
                            <div class="field">
                                <i class="fas fa-id-card"></i>
                                <input id="name" name="Nombre" placeholder="Nombre">
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-id-card"></i>
                                <input id="lastname" name="Apellido" placeholder="Apellido">
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-user-alt"></i>
                                <input id="email" name="Correo Electronico" type="email" placeholder="Correo electronico">
                            </div>
                            
                            <div class="field">
                                <i class="fas fa-user-alt"></i>
                                <input id="emailconfirmation" name="Correo Electronico" type="email" placeholder="Confirmar correo electronico">
                            </div>       
                            
                            <div class="field">
                                <i class="fas fa-key"></i>
                                <input id="password" name="Contraseña" type="password" placeholder="Contraseña">
                            </div>             
                            
                            <div class="field">
                                <i class="fas fa-key"></i>
                                <input id="passwordconfirm" name="Contraseña" type="password" placeholder="Confirmar contraseña">
                            </div>    
                        </div>         
                        <div class="register-button">
                            <button class="btn-submit" id="register-button" type="submit" >Registrate </button> 
                        </div>

                    </form>
                    <div class="login">
                        <label for="login">¿Ya estas registrado?</label> 
                        <a href="login" id="login">Inicia sesión</a>    
                    </div>

                </div>

            </div>
            <%- include('../partials/contacto') %>	
            <%- include('../partials/footer') %>	
        </body>
</html>