<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Detalle de compra</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/styleindex.css" type="text/css">
        <link rel="stylesheet" href="css/styleproductCart.css" type="text/css">  

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
     
    </head>

    <body>
        <div class="detalle-de-compra-general">
        <header>
            <div class="logo"> 
                <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
            </div>

            <div class="basura">
                <i class="far fa-trash-alt"></i>
            </div>

            <td class="product-quantity" data-title="Cantidad">
                <div class="quantity buttons_added">
                <input type="number" id="quantity_61ec5989318ff" class="input-text qty text" step="1" min="0" max="91" name="contador" value="2" title="Cantidad" size="4" placeholder="" inputmode="numeric">
            </td>

            <div class="img-juego-detalle">
                <img class="img-juego-detalle" src="image\Imágenes de Juegos PS4\Assassin’s Creed Valhalla.jpg" alt="Assassin’s-creed">
            </div>

            <div class="mobile-menu">
                <div class="burger-menu">
                    <i class="fas fa-ellipsis-v"></i>
                    <ul> 
                        <li><a href="index">Ofertas</a></li>
                        <li><a href="index">Juegos</a></li>
                        <li><a href="index">Consolas</a></li>
                        <li><a href="index">Accesorios</a></li>
                        <li><a href="index">Conocenos</a></li>
                        <li><a href="index">Ayuda</a></li>
                    </ul>
                </div>
        </header>

                <footer>
                    <div class="social-media-menu">
                        <ul> 
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                    <div class="extra">
                        <label id="extra">© 2021-2022</label> 
                    </div>
                </footer>
            </div>
            </body>
        </html>