<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>G10!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styleindex.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="mobile-menu">
                <div class="burger-menu">
                    <i class="fas fa-ellipsis-v"></i>
                    <input type="checkbox">
                    <ul> 
                        <li><a href="index">Ofertas</a></li>
                        <li><a href="index">Juegos</a></li>
                        <li><a href="index">Consolas</a></li>
                        <li><a href="index">Accesorios</a></li>
                        <li><a href="index">Conocenos</a></li>
                        <li><a href="index">Ayuda</a></li>
                    </ul>
                </div>
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <div class="account-menu">
                    <i class="far fa-user"></i>
                    <input type="checkbox">
                    <ul> 
                        <li><a href="login">Inciar sesión</a></li>
                        <li><a href="register">Registrarse</a></li>
                        <li><a href="perfil">Perfil</a></li>
                    </ul>
                </div>
            </div>
            <div class="desktop-menu">
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <div class="menus">
                    <div class="menu">
                        <ul> 
                            <li><a href="index">Catalogo</a></li>
                            <li><a href="index">Ofertas</a></li>
                            <li><a href="index">Juegos</a></li>
                            <li><a href="index">Consolas</a></li>
                            <li><a href="index">Accesorios</a></li>
                            <li><a href="index">Consultas</a></li>
                            <li><a href="index">Conocenos</a></li>
                        </ul>
                    </div>
                    <form class="search-bar" method="get" action="search">
                        <input type="text" name="search-text" placeholder="Buscar...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="menu-icons">
                        <div class="shopping-cart">
                            <a href="detalleCompra">
                                <i class="fas fa-shopping-cart"></i>
                                <h4>2</h4>
                            </a>
                        </div>
                        <div class="account-menu">
                            <i class="far fa-user"></i>
                            <input type="checkbox">
                            <ul> 
                                <li><a href="login">Inciar sesión</a></li>
                                <li><a href="register">Registrarse</a></li>
                                <li><a href="perfil">Perfil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="slider-container">
                <ul class="slider">

                    <li id="slide1"><img src="image/Banner/1600338252_757123_1600420348_noticia_normal.jpg"/></li>
                    <li id="slide2"><img src="image/Banner/60ab1de8313165e8c70a7632c671e592.png"/></li>
                    <li id="slide3"><img src="image/Banner/UJEWTJJ4TJEVPC3K4IO7HVZDAU.jpg"/></li>

                </ul>
                <ul class="slider-menu">

                    <li ><a id="slide1" href="#slide1"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide2" href="#slide2"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide3" href="#slide3"><i class="fas fa-circle"></i></a></li>
                </ul>
            </div>
            <div class="games">
                <ul class="games-list">
    
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/A Way Out.jpg" alt="A Way Out"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/DiRT 4.jpg" alt="DiRT 4"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/Battlefield 4.jpg" alt="Battlefield 4"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/Little nightmares.jpg" alt="Little nightmares"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/Naruto Shippuden Ultimate Ninja Storm 4.jpg" alt="Naruto Shippuden Ultimate Ninja Storm 4"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/Naruto to Boruto Shinobi Striker.jpg" alt="Naruto to Boruto Shinobi Striker"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/PES 2021.jpg" alt="PES 2021"></li> -->
                    <!-- <li ><img src="image/Imágenes de Juegos PS4/Resident Evil 7 Biohazard.jpg" alt="Resident Evil 7"></li> -->
    
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Assassin’s Creed Valhalla.jpg" alt="Assassin’s Creed Valhalla">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">Assassin’s Creed Valhalla</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Call of Duty Black Ops Cold War.jpg" alt="Black Ops Cold War">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">Black Ops Cold War</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Dragon Ball Fighterz.jpg" alt="Dragon Ball Fighterz">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">Dragon Ball Fighterz</h2>
                            <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/FIFA-22.jpg" alt="FIFA-22">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">FIFA-22</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/God of War III Remastered.jpg" alt="God of War III Remastered">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">God of War III Remastered</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Jump Force.jpg" alt="Jump Force">
                       
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">Jump Force</h2>
                            <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/LEGO Marvel Super Heroes 2.jpg" alt="LEGO Marvel Super Heroes 2">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">LEGO Marvel Super Heroes 2</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Metal gear solid V the phantom pain.jpg" alt="Metal gear solid V the phantom pain">
                        
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">Metal gear solid V the phantom pain</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/mortal kombat xl.jpg" alt="mortal kombat xl">
                        <div class="game-description">
                            <div class="game-descrition-items">
                                <h2 class="game-name">mortal kombat xl</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>  
                    </li>
                    <li >
                        <img src="image/Imágenes de Juegos PS4/Need for Speed Heat.jpg" alt="Need for Speed Heat">
                        <div class="game-description">
                            <div class="game-descrition-items">

                                <h2 class="game-name">Need for Speed Heat</h2>
                                <p class="game-price">$20.000</p>
                            </div>
                            <div class="deatil-buttons">
                                <a href="productDetail">Detalle</a > 
                                <a href="detalleCompra">Agregar <i class="fas fa-shopping-cart"></i></a > 
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fixed-wp">
            <a href="https://wa.me/+573216715629" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
        <footer>
            <div class="social-media-menu">
                <ul> 
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="extra">
                <label id="extra">© 2021-2022</label> 
            </div>
        </footer>
    </body>
</html>