<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Incio de sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylelogin.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <form >
            <div class="login-content">
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <div class="email">
                    <i class="fas fa-user-alt"><input id="email" name="email" type="email" placeholder="Ej: correo@gamer.com"/></i>
                </div>
                <div class="password">
                    <i class="fas fa-key"><input id="password" name="password" type="password" placeholder="Contraseña"/></i>
                </div>
                <div class="login-button">
                    <button class="btn-submit" id="login-button" type="submit" >Iniciar sesión</button> 
                </div>
                <div class="forgot-password">
                    <a href="forgot-password.html" id="forgot-password">Olvide mi contraseña</a>    
                </div>
                <div class="register">
                    <label for="register">¿Aun no tienes una cuenta?</label> 
                    <a href="register.html" id="forgot-password">Regístrate</a>    
                </div>

                <div class="extra">
                    <label id="extra">© 2021-2022</label> 
                </div>
            </div>
        </form>
    </body>
</html>