<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Incio de sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylelogin.css" type="text/css">
    </head>
    <body>
        <form >
            <div class="login-content">
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <div class="email">
                    <label for="email">Correo electronico:</label> 
                    <input class="form-control" id="email" name="email" type="email" placeholder="Ej: correo@gamer.com"/>
                </div>
                <div class="password">
                    <label for="password">Contraseña:</label> 
                    <input class="form-control" id="password" name="password" type="password" placeholder="Contraseña"/>
                </div>
                <div class="login-button">
                    <button class="btn-primary" id="login-button" name="login-button" type="submit" >Iniciar sesión</button> 
                </div>
                <div class="forgot-password">
                    <a href="forgot-password.html" id="forgot-password">Olvide mi contraseña</a>    
                </div>
                <div class="register">
                    <label for="register">¿Aun no tienes una cuenta?</label> 
                    <a href="register.html" id="forgot-password">Regístrate</a>    
                </div>

                <div class="extra">
                    <label id="extra">© 2021-2022</label> 
                </div>
            </div>
        </form>
    </body>
</html>