<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Carrito de Compras</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>
   
    <div class="logo"> 
    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
    </div>

    <div>
    <form action="resultado.html" method="POST">
    <label for="nombre">Buscar Juego:</label>
    <input type="text" name="nombre" id="nombre">
    <a href="productDetail.html"></a> 
    </div>

    
    <div class="register">
    <label for="register">¿Aun no tienes una cuenta?</label> 
    <a href="register.html" id="forgot-password">Regístrate</a>    
    </div>
    
    LISTADO DE CATEGORIAS => DEPORTE // AUTOS // ACCION // AVENTURA 
    INICIAR SESION/REGISTRARSE
    CARRITO DE COMPRAS    
    CONTACTO/SUGERENCIAS 
    CARRITO DE COMPRA => DETALLE DE COMPRA => ORDEN COMPLETADA

</body>
<footer>

</footer>
</html>