<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>G10!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styleproducto.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
        <header>
            <div class="mobile-menu">
                <div class="left-menu">
                    <div class="burger-menu">
                        <i class="fas fa-ellipsis-v"></i>
                        <input type="checkbox">
                        <ul> 
                            <li><a href="index">Ofertas</a></li>
                            <li><a href="index">Juegos</a></li>
                            <li><a href="index">Consolas</a></li>
                            <li><a href="index">Accesorios</a></li>
                            <li><a href="index">Conocenos</a></li>
                            <li><a href="index">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="search">
                        <i class="fas fa-search"></i>
                        <input type="checkbox">
                        <form class="search-bar" method="get" action="search">
                            <input type="text" name="search-text" placeholder="Buscar...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="logo"> 
                    <a href="/"><img class="img-logo" src="image/logo/Logo.png" alt="G10-Games"></a>
                </div>
                <div class="right-menu">
                    <div class="shopping-cart">
                        <a href="productCart">
                            <i class="fas fa-shopping-cart"></i>
                            <h4>2</h4>
                        </a>
                    </div>
                    <div class="account-menu">
                        <i class="far fa-user"></i>
                        <input type="checkbox">
                        <ul> 
                            <li><a href="login">Inciar sesión</a></li>
                            <li><a href="register">Registrarse</a></li>
                            <li><a href="perfil">Perfil</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="desktop-menu">
                <div class="logo"> 
                    <a href="/"><img class="img-logo" src="image/logo/Logo.png" alt="G10-Games"></a>
                </div>
                <div class="menus">
                    <div class="menu">
                        <ul> 
                            <li><a href="index">Catalogo</a></li>
                            <li><a href="index">Ofertas</a></li>
                            <li><a href="index">Juegos</a></li>
                            <li><a href="index">Consolas</a></li>
                            <li><a href="index">Accesorios</a></li>
                            <li><a href="index">Consultas</a></li>
                            <li><a href="index">Conocenos</a></li>
                        </ul>
                    </div>
                    <form class="search-bar" method="get" action="search">
                        <input type="text" name="search-text" placeholder="Buscar...">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="menu-icons">
                        <div class="shopping-cart">
                            <a href="productCart">
                                <i class="fas fa-shopping-cart"></i>
                                <h4>2</h4>
                            </a>
                        </div>
                        <div class="account-menu">
                            <i class="far fa-user"></i>
                            <input type="checkbox">
                            <ul> 
                                <li><a href="login">Inciar sesión</a></li>
                                <li><a href="register">Registrarse</a></li>
                                <li><a href="perfil">Perfil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="contenedor">
            <main>

            <div class="caja-1"><img src="image/Imágenes de Juegos PS4/Assassin’s Creed Valhalla.jpg" alt="Assassin’s Creed Valhalla"></div>
            
            
                
            <div class="caja-3">
                <div>
                    <h2>Assassin Creed Valhalla</h2>
                    <ul>
                        <li>Fecha de lanzamiento: 10/11/2020</li>
                        <li>Desarrollo: Ubisoft</li>
                        <li>Producción: Ubisoft</li>
                        <li>Distribución: Ubisoft</li>
                        <li>Jugadores: 1</li>
                        <li>Formato: Digital</li>
                        <li>Textos: Español</li>
                        <li>Voces: Español</li>

                        <li><h3>Precio: $8.700</h3></li>
                    </ul>
                   
                </div>
                    <div class="caja3-boton">
                        <button type="submit" name="add-to-cart" value="55281" class="single_add_to_cart_button button alt"><h3><a href="productCart">COMPRAR <i class="fas fa-shopping-cart"></i></a > </h3</button>
                                      
                    </div>
                
                
        </main>
        <div class="content">
            <div class="slider-container">
                <ul class="slider">

                    <li id="slide1"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa1.jpg"></li>
                    <li id="slide2"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa2.jpg"/></li>
                    <li id="slide3"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa3.jpg"/></li>
                    <li id="slide4"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa4.jpg"/></li>
                    <li id="slide5"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa5.jpg"/></li>
                    <li id="slide6"><img src="image/Imágenes de Juegos PS4/detalle/assa/assa6.jpg"/></li>

                </ul>
                <ul class="slider-menu">

                    <li ><a id="slide1" href="#slide1"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide2" href="#slide2"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide3" href="#slide3"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide4" href="#slide4"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide5" href="#slide5"><i class="fas fa-circle"></i></a></li>
                    <li ><a id="slide6" href="#slide6"><i class="fas fa-circle"></i></a></li>
                </ul>
            </div>
        <main>
            <div class="caja-2"><blockquote> 
                <h2>CREA TU PROPIA LEYENDA VIKINGA</h2>
                Conviértete en Eivor, un poderoso saqueador vikingo y lidera a tu clan desde las inclementes costas de Noruega a un nuevo hogar en medio de las exuberantes tierras de cultivo de la Inglaterra del siglo IX. 
                Explora un hermoso y misterioso mundo abierto donde te enfrentarás a brutales enemigos, saquearás fortalezas, construirás el nuevo asentamiento de tu clan y forjarás alianzas para conseguir la gloria y obtener un lugar en el Valhalla.               
                Inglaterra, en la época de los vikingos, es una nación fracturada llena de amos mezquinos y reinos en guerra. Debajo de todo el caos yace una tierra salvaje y llena de abundancia que espera a un nuevo conquistador. 
                <h3>¿Serás tú?</h3></blockquote>
            </div>
            <div class="caja-video">
                <div class="video">
                    <iframe width="960" height="715" src="https://www.youtube.com/embed/1dGkChjhCMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </main>
        <div class="fixed-wp">
            <a href="https://wa.me/+573216715629" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>

        <footer>
            <div class="social-media-menu">
                <ul> 
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="extra">
                <label id="extra">© 2021-2022</label> 
            </div>
        </footer>
    </body>
    </html>