<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="encabezado">
        <div class="carrito de compras"></div>
            <p>'carrito de compras'</p>
        <div class="detalle de compras"></div>
            <p>'detalle de compras'</p>
        <div class="finalización de compras"></div>
            <p>'finalización de compras'</p>





    </div>






    LOGO
    LISTADO DE CATEGORIAS => DEPORTE // AUTOS // ACCION // AVENTURA 
    BUSCADOR DE JUEGOS
    INICIAR SESION/REGISTRARSE
    CARRITO DE COMPRAS    
    CONTACTO/SUGERENCIAS 
    CARRITO DE COMPRA => DETALLE DE COMPRA => ORDEN COMPLETADA

</body>
</html>