<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styleproducto.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<header>
    <div class="top-header">
        <div class="logo"> 
            <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
            <span>Juegos</span> 
            <span>Accesorios</span>
            <span>Consolas</span>
            <span>Catalogo</span>
            <span>Carrito</span>
            <span>Consultas</span>
        </div>
        <div>
            <form action="resultado.html" method="POST">
            <label for="nombre">BUSCA TU JUEGO:</label>
            <input type="text" name="nombre" id="nombre">
            <a href="productDetail.html"></a> 
        </div>
        <ul>
            <li><a href="./.">Home <i class="fas fa-shopping-basket"></i></a></li>
            <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/productCart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            <li><a href="/productDetail">Productos <i class="fas fa-shopping-basket"></i></a></li>
            
        </ul>
            
    <nav>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Clasicos</a></li>
            <li><a href="#">Combos</a></li>
            <li><a href="#">Ayuda con tu compra</a></li>
        </ul>
       
    </nav>
    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>

    <main>
        <section class="last-visit">
            <h3>LISTADO DE JUEGOS</h3>
            <div class="products">
                <article>
                    <img src="image/Imágenes de Juegos PS4/Assassin’s Creed Valhalla.jpg" alt="Valhalla" class="product_img"HSPACE="10" VSPACE="10">
                    <div class="main-article">
                        <h4 class="description">Assassin’s Creed Valhalla</h4>
                        <i class="fas fa-truck"></i>
                        <p class="price">$3.900</p>
                        <p class="discount">40% off</p>
                        
                    </div>
                </article>
                <article>
                    <img src="image/Imágenes de Juegos PS4/Call of Duty Black Ops Cold War.jpg" alt="Call of Duty" class="product_img"HSPACE="10" VSPACE="10">
                    <div class="main-article">
                        <h4 class="description">Call of Duty Black Ops Cold War</h4>
                        <i class="fas fa-truck"></i>
                        <p class="price">$4250</p>
                        <p class="discount">15% off</p>
                        
                    </div>
                </article>
                <article>
                    <img src="image/Imágenes de Juegos PS4/Metal gear solid V the phantom pain.jpg" alt="Metal Gear Solid" class="product_img"HSPACE="10" VSPACE="10">
                    <div class="main-article">
                        <h4 class="description">Metal Gear Solid V</h4>
                        <i class="fas fa-truck"></i>
                        <p class="price">$3570</p>
                        <p class="discount">15% off</p>
                        
                    </div>
                </article>
                <article>
                    <img src="image/Imágenes de Juegos PS4/Dragon Ball Fighterz.jpg" alt="Dragon Ball" class="product_img"HSPACE="10" VSPACE="10">
                    <div class="main-article">
                        <h4 class="description">Dragon Ball</h4>
                        <i class="fas fa-truck"></i>
                        <p class="price">$3570</p>
                        <p class="discount">15% off</p>
                        
                    </div>
                </article>
                <article>
                    <img src="image/Imágenes de Juegos PS4/FIFA-22.jpg" alt="Fifa 2022" class="product_img"HSPACE="10" VSPACE="10">
                    <div class="main-article">
                        <h4 class="description">Fifa 2022</h4>
                        <i class="fas fa-truck"></i>
                        <p class="price">$3570</p>
                        <p class="discount">15% off</p>
                        
                    </div>
                </article>
                

</header>

<body>

    
</body>
</html>