<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Incio de sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styleregister.css" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    </head>
    <body>
         <div class="register-content"> 
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <h1 class="titulo">
                    ¿Eres nuevo en G10-Games?
                </h1>
                <p>
                    Registrate y accede a nuestro E-Commerce!
                </p>                
                <div>
                    <form>
                        
                        <div class="field">
                            <i class="fas fa-id-card"><input id="name" name="Nombre" placeholder="Nombre"></i>
                        </div>
                        
                        <div class="field">
                            <i class="fas fa-id-card"><input id="lastname" name="Apellido" placeholder="Apellido"></i>
                        </div class="field">
                        
                        <div class="field">
                            <i class="fas fa-user-alt"><input id="email" name="Correo Electronico" type="email" placeholder="Correo electronico"></i>
                        </div>
                        
                        <div class="field">
                            <i class="fas fa-user-alt"><input id="emailconfirmation" name="Correo Electronico" type="email" placeholder="Confirmar correo electronico"></i>
                        </div>       
                        
                        <div class="field">
                            <i class="fas fa-key"><input id="password" name="Contraseña" type="password" placeholder="Contraseña"></i>
                        </div>             
                        
                        <div class="field">
                            <i class="fas fa-key"><input id="passwordconfirm" name="Contraseña" type="password" placeholder="Confirmar contraseña"></i>
                        </div>             
                    </div>
                    <div class="register-button">
                        <button class="btn-submit" id="register-button" name="register-button" type="submit" >Registrate </button> 
                    </div>

                    </form>

                </div>


            </div>
        </body>