<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Incio de sesión</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styleregister.css" type="text/css">
    </head>
    <body>
         <div class="register-content"> 
                <div class="logo"> 
                    <img class="img-logo" src="image/logo/Logo.png" alt="G10-Games">
                </div>
                <h1 class="titulo">
                    ¿Eres nuevo en G10-Games?
                </h1>
                <p>
                    Registrate y accede a nuestro E-Commerce!
                </p>                
                <div>
                    <form>
                        <div>
                            <label for="name"> Nombres </label>
                        </div>
                        <div>
                            <input id="name" name="Nombre">
                        </div>
                        <div>
                            <label for="lastname"> Apellidos </label>
                        </div>
                        <div>
                            <input id="lastname" name="Apellido" >
                        </div>
                        <div>
                            <label for="email"> Correo Electronico </label>
                        </div>
                        <div>
                            <input id="email" name="Correo Electronico" type="email" >
                        </div>
                        <div>
                            <label for="emailconfirmation"> Confirma el Correo Electronico </label>
                        </div>
                        <div>
                            <input id="emailconfirmation" name="Correo Electronico" type="email" >
                        </div>       
                        <div>
                            <label for="password"> Ingresa tu contraseña </label>
                        </div>
                        <div>
                            <input id="password" name="Contraseña" type="password" >
                        </div>             
                        <div>
                            <label for="passwordconfirm"> Confirma tu contraseña </label>
                        </div>
                        <div>
                            <input id="passwordconfirm" name="Contraseña" type="password" >
                        </div>             
                    </div>
                    <div class="login-button">
                        <button class="btn-submit" id="login-button" name="login-button" type="submit" >Registrate </button> 
                    </div>

                    </form>

                </div>


            </div>
        </body>